
<%- include('../parts/header.ejs') %>
<body>
<section class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
                <div class="todo-content">
                    <h4>My todos</h4>
                    <%- include('../parts/todos.ejs') %>
                    <%- include('../parts/add-todo.ejs') %>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>